

streamlit
plotly
numpy==1.20.3
pyarrow
pandas==1.2.4
google-cloud-bigquery
streamlit-option-menu
matplotlib
requests
db-dtypes
scikit-learn==0.24.2
wordcloud
transformers
torch
datetime
pydeck
pandas_gbq
joblib==1.2.0
nltk==3.6.3
spacy==3.1.0
xgboost==1.4.2
gensim==4.0.1
